*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: sandybrown;
}

.logo{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;;
}